<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>p02-scagnelli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B634E9361E381F7D00AA1B42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B634E94F1E381F7D00AA1B42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B634E95A1E381F7D00AA1B42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
